<html>
<head>
<title>Англо-русский контекстуальный словарь</title>

<link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script>
$(function() {
    $("#search_term").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term, // in flask, "q" will be the argument to look for using request.args
            }, function(data) {
                response(data.matching_results); // matching_results from jsonify
            });
        },
        minLength: 2,
        select: function(event, ui) {
            console.log(ui.item.value); // not in your question, but might help later
        }
    });
})
</script>

</head>
<body>
	<nav>
		<a id="retrieve" href="{{ url_for('retrieve') }}">Вернуться к форме поиска</a>
	</nav>
	<h1>Поиск в контексте</h1>

</br>
Сайт содержит около одной тысячи предложений из резолюций СБ ООН.
</br></br>
Примеры поисковых запросов:</br>
<u>specially designed</u>, <u>humanitarian assistance</u>, <u>arms embargo</u>, <u>displaced persons</u>,</br>
<u>troop contributing countries</u>, <u>decides remain seized</u>, <u>unmanned aerial vehicles</u>,</br>
<u>non civil certified aircraft</u></br></br>


	<form method="GET">
	  {% if error %}<span class="error">{{ error }}<br>{% endif %}
		<label for="search_term">Термины для поиска (максимум 4 слова): </label><input type="text" id="search_term" name="search_term" maxlength="200" size="60" class="form-control input-lg">
		<input type="submit" value="Найти!">
	</form>


	{#<h2>{% block subtitle %} {% endblock subtitle %}</h2>#}
	{% block content %} {% endblock content %}

	<h2>{% block subtitle2 %} {% endblock subtitle2 %}</h2>
	{% block content2 %} {% endblock content2 %}
</body>
</html>
