<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138332936-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-138332936-2');
</script>

<title>Англо-русский контекстуальный словарь</title>

<link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

<script>
$(function() {
    $("#search_term").autocomplete({
        source:function(request, response) {
            $.getJSON("{{url_for('autocomplete')}}",{
                q: request.term,
            }, function(data) {
                response(data.matching_results);
            });
        },
        minLength: 2,
        select: function(event, ui) {
            console.log(ui.item.value);
        }
    });
})
</script>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
<link rel="manifest" href="/site.webmanifest">

</head>
<body>
	<nav>
		<a id="retrieve" href="{{ url_for('retrieve') }}">Вернуться к форме поиска</a>
	</nav>
	<h1>Поиск в контексте</h1>

</br>
Сайт содержит около одной тысячи предложений из резолюций Совета безопасности ООН в качестве примера.
</br></br>
Примеры поисковых запросов:</br>
<a href="/retrieve?search_term=specially+designed" rel="nofollow"><u>specially designed</u></a>, 
<a href="/retrieve?search_term=humanitarian+assistance" rel="nofollow"><u>humanitarian assistance</u></a>,
<a href="/retrieve?search_term=arms+embargo" rel="nofollow"><u>arms embargo</u></a>,
<a href="/retrieve?search_term=displaced+persons" rel="nofollow"><u>displaced persons</u></a>,
<a href="/retrieve?search_term=troop+contributing+countries" rel="nofollow"><u>troop contributing countries</u></a>,
</br>
<a href="/retrieve?search_term=unmanned+aerial+vehicles" rel="nofollow"><u>unmanned aerial vehicles</u></a>,
<a href="/retrieve?search_term=non+civil+certified+aircraft" rel="nofollow"><u>non civil certified aircraft</u></a>,
<a href="/retrieve?search_term=вооруженные+группы" rel="nofollow"><u>вооруженные группы</u></a>,
<a href="/retrieve?search_term=РДР" rel="nofollow"><u>РДР</u></a>,
<a href="/retrieve?search_term=разоружение+и+демобилизация" rel="nofollow"><u>разоружение и демобилизация</u></a>
</br>
</br>


	<form method="GET">
		<label for="search_term">Термины для поиска (максимум 4 слова): </label><input type="text" id="search_term" name="search_term" maxlength="200" size="60" class="form-control input-lg" autocomplete="off" placeholder="Введите текст">
		<input type="submit" value="Найти!">
	</form>


	{#<h2>{% block subtitle %} {% endblock subtitle %}</h2>#}
	{% block content %} {% endblock content %}

	<h2>{% block subtitle2 %} {% endblock subtitle2 %}</h2>
	{% block content2 %} {% endblock content2 %}

  <style>
    a:link { color: #0000EE; }
    a:focus { color: #551A8B; }
  </style>
</body>
</html>
