{% extends 'base.jinja2' %}



{% block content %}
Вы искали: {{ terms }}
{% endblock content %}


{% block subtitle2 %}Результаты поиска{% endblock subtitle2 %}

{% block content2 %}
{% if no_res %}<span class="no_res">{{ no_res }}<br>{% endif %}
<div>
  <table>
    <tbody>
      {% for result in results %}
      <tr>
        <td width='350' style='border-bottom:0.5pt dashed black'> {{ result[0] }} </td>
        <td width='350' style='border-bottom:0.5pt dashed black'> {{ result[1] }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content2 %}
